<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="signupForm">
		<div class='my-4'>
			<h5 class='fw-bold'>
				ようこそ、<br>ゲストユーザーさん！
			</h5>
			<br>
			<p class='fst-italic'>
				　新規投稿、ブックマークを行うには<br>　下記から新規登録が必要です。
			</p>
		</div>
	
		<h2 class="mb-4">Sign up</h2>
		<form method="post" th:action="@{/signup}" th:object="${signupForm}" class="col-10 ms-3">
			<div class="mb-4">
				<label class="mb-2 fw-bold" for="name">Name</label>
				<input type="text" th:field="*{name}" class="form-control">
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
			</div>
			<div class="mb-4">
				<label class="mb-2 fw-bold" for="email">Email</label>
				<input type="text" th:field="*{email}" class="form-control">
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
			</div>
			<div class="mb-4">
				<label class="mb-2 fw-bold" for="email">Password</label>
				<input type="text" th:field="*{password}" class="form-control">
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
			</div>
			<div class="mb-4">
				<button type="submit" class="btn btn-success">sigun up</button>
			</div>
		</form>
	</div>
</body>
</html>