<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="userDetail_contents">
		<div class='pattern-cross-dots-lg'>
			<div style='background: rgba(235,235,235,0.70);'>
				<div class='col-md-9 mx-auto py-5 border shadow px-4 px-sm-5 bg-white' style='min-height: 750px'>
					<h1 class="fw-bold text-center mb-4" style='font-family: cursive;'>User Page</h1>
		      <div th:include="__${userInfo}__"></div>
		    </div>
		  </div>
		</div>
	</div> 
</body>
</html>