<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="signupForm_contents">
		<div class='pattern-horizontal-lines-lg'>
			<div class='d-flex align-items-center' style='background: rgba(250,250,250,0.90); height: 750px;'>
		    <div class="mx-auto border px-4 px-sm-5 py-5 shadow-lg bg-white" style='width: 560px;'>
					<h2 class="mb-4">Sign up</h2>
		      <form method="post" th:action="@{/signup}" th:object="${signupForm}">
		      	<div class="mb-4">
		      		<label class="mb-2 fw-bold" for="name">Name</label>
		      		<input type="text" th:field="*{name}" class="form-control">
		      		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
		      	</div>
		      	<div class="mb-4">
		      		<label class="mb-2 fw-bold" for="email">Email</label>
		      		<input type="text" th:field="*{email}" class="form-control">
		      		<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
		      	</div>
		      	<div class="mb-4">
		      		<label class="mb-2 fw-bold" for="email">Password</label>
		      		<input type="text" th:field="*{password}" class="form-control">
		      		<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
		      	</div>
		      	<div class="mb-4">
		      		<button type="submit" class="btn btn-success">sigun up</button>
		      	</div>
		      </form>
		    </div>
		  </div>
		</div>
	</div> 
</body>
</html>