<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<link th:href="@{/css/app.css}" rel="stylesheet">

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script src="https://kit.fontawesome.com/f8d37013c4.js"></script>

<!--pattern.css 背景用-->
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
</head>
<body>
    <!-- ===== ヘッダー（ナビゲーションバー） =====  -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style='background-color: rgba(13,65,134,1);'>
        <div class="col-9 d-flex mx-auto">
          <a class="navbar-brand" th:href="@{/articles}">
            <img class="header-logo navbar-brand p-0" alt='header-logo' th:src="@{/images/codience.png}" width="165" height="80">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav ms-auto">
            <th:block sec:authorize="isAuthenticated()">	
            	<li class="nav-item"><a th:href="@{/users}" class="fas fa-users nav-link text-light"> Users</a></li>
            	<li class="nav-item"><a th:href="@{/users/} + ${#authentication.principal.getUserId}" class="fas fa-user nav-link text-light"> Mypage</a></li>
            	<li class="nav-item"><a th:href="@{/articles}" class="fas fa-book-open nav-link text-light"> Articles</a></li>
            	<li class="nav-item"><a th:href="@{/logout}" class="fas fa-sign-out-alt nav-link text-light"> logout</a></li>
            </th:block>
            <th:block sec:authorize="!isAuthenticated()">
            	<li class="nav-item"><a th:href="@{/users}" class="fas fa-users nav-link text-light"> Users</a></li>
            	<li class="nav-item"><a th:href="@{/articles}" class="fas fa-book-open nav-link text-light"> Articles</a></li>
            	<li class="nav-item"><a th:href="@{/signup}" class="fas fa-user-plus nav-link text-light"> sign up</a></li>
            	<li class="nav-item"><a th:href="@{/login}" class="fas fa-sign-in-alt nav-link text-light"> login</a></li>
            </th:block>
           </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- ===== コンテンツ ===== -->
    <main>
    	<div th:include="__${contents}__"></div>
    </main>
</body>
</html>